@font-face {
    font-family: 'Typography';
    src: url('../assets/Typography\ times.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../assets/Roboto-Regular.ttf');
}


.load {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: white;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.3s linear;
  }
  
  .load-none {
    opacity: 0;
    visibility: hidden; /* Yoki display: none */
  }
  


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


.home-page {
    height: 100vh;
}

header {
    background-color: #ffffff;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header-logo {
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 22px;
    color: #000000;
}

.header-logo span {
    padding: 6px;
    margin-right: 3px;
    background-color: #01BAB3;
    border-radius: 50%;
    color: #ffffff;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navigation a {
    font-family: Typography;
    color: #000000;
    letter-spacing: 1px;
    padding: 5px 10px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    transition: all .6s ease-in-out;
}

.navigation a:nth-child(1),
.navigation a:nth-child(2),
.navigation a:nth-child(3) {
    border-color: transparent;
}

.navigation a:nth-child(1):hover,
.navigation a:nth-child(2):hover,
.navigation a:nth-child(3):hover {
    border-color: #000000;
}

.navigation a:nth-child(4),
.navigation a:nth-child(5),
.navigation a:nth-child(6) {
    border-color: #000000;
}

.navigation a:nth-child(4):hover,
.navigation a:nth-child(5):hover,
.navigation a:nth-child(6):hover {
    background-color: #000000;
    color: #ffffff;
}

.navigation a:nth-child(1):active,
.navigation a:nth-child(2):active,
.navigation a:nth-child(3):active {
    background-color: #01BAB3;
    color: #ffffff;
} 

.navigation a:nth-child(4):active,
.navigation a:nth-child(5):active,
.navigation a:nth-child(6):active {
    background-color: #01BAB3;
    border-style: inset;
}



/* Start of form styling */
.form-box {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.form-box p {
    text-align: center;
}

.form-box .form-title {
    text-align: center;
    padding-top: 20px;
    font-family: Roboto;
    font-size: 32px;
}

.form-box .form-subtitle {
    padding-top: 10px;
    font-family: Typography;
}

.form-box .form-subtitle a {
    font-family: Roboto;
}

.name-lastname {
    display: flex;
    justify-content: space-between;
}

form {
    margin-top: 20px;
}
form label {
    display: inline-block;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 14px;
    color: #333333;
    padding: 10px 0;
}

form label span {
    color: #01BAB3;
}

form input::placeholder {
    font-family: Typography;
    font-size: 14px;
    letter-spacing: 2px;
}

form input {
    width: 430px;
    height: 40px;
    border: 2px solid #D9D9D9;
    outline-color:#01BAB3;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
    font-family: Roboto;
    color: #333333;
    cursor: pointer;
}

form select {
    width: 200px;
    height: 40px;
    border: 2px solid #D9D9D9;
    outline-color:#01BAB3;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
    font-family: Roboto;
    color: #333333;
    cursor: pointer;
}

form input:hover {
    background-color: #f1f1f1;
}

form input[type="date"] {
    font-family: Typography;
    font-size: 14px;
    color: #333333;
}

form input:nth-child(1),
form input:nth-child(2) {
    width: 95%;
}

form .input-email {
    display: inline-block;
    width: 430px  !important; 
}


.radio-container {
    display: flex;

}

.radio-box {
    border: 2px solid #D9D9D9;
    border-radius: 5px;
    width: 210px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}


.radio-box:hover {
    background-color: #f1f1f1;
}

.radio-box:active {
    border-color: #01BAB3;
}

.radio-box:nth-child(1) {
    margin-right: 10px;
}

.radio-box input[type = "radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 10px;
}

.radio-box p {
    font-family: Roboto;
    color: #333333;
}


.radio-box input[type="radio"]:checked  {
    color: red; /* p tagidagi matn qizil bo'ladi */
}


.form-btn {
    display: inline-block;
    width: 430px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #01BAB3;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all .6s;
}

.form-btn i {
    transform: rotate(180deg);
    margin-left: 10px;
}

.form-btn:hover {
    background-color: #019792;
}